# Notebook 3: Operaciones de Administración de Base de Datos relacional

En el ciclo de vida de una base de datos relacional, a menudo el administrador de la BD tiene que realizar ciertas operaciones de mantención. Mencionamos en particular:

1- Realizar una copia de seguridad de los datos

2- Crear usuarios y definir permisos de acceso a la BD

3- Modificar la estructura de la BD

4- Agregar restricciones o reglas de integridad sobre la estructura de los datos

## Ejercicio 1: Crear una BD de prueba básica

Para realizar los ejercicios siguientes, primero vamos a crear una BD de prueba básica, llamada "Valdivia". Esta base de datos está constituida por 3 tablas:

- PERSONA(pk_RUT, Nombre, Edad)   (ej.: "1, Juan, 20")

- LUGAR_DE_INTERES(pk_Lugar, Descripcion, Categoria, Latitud, Longitud)  (ej.; "1, Mercado Fluvial, Turismo, -39.81, -73.24")

- DESPLAZARSE(#pk_RUT, fecha, Latitud, Longitud)  (ej. "1, 30/09/2018 12:00:00, -39, -70")

1) Implementar la estructura de esta base de datos en MySQL indicando las claves primarias y foraneas y los tipos de datos

2) Insertar al menos 5 filas en cada tabla

3) ¿A qué tipo de aplicación podría servir esta base de datos?

In [15]:
#1)

import mysql.connector
import pandas as pd
from IPython.display import display,HTML

#reemplazar 'root' por el password del usuario administrador de MySQL
db_connection = mysql.connector.connect(user="root",host="localhost",password="moyarzun94")
cursor = db_connection.cursor()
cursor.execute("SET sql_mode ='' ")
cursor.execute("Use valdivia")

cursor.execute('CREATE TABLE persona(id_rut INT NOT NULL,nombre VARCHAR(50),edad INT,PRIMARY KEY(id_rut))');
cursor.execute('CREATE TABLE lugar_de_interes(id_lugar INT NOT NULL AUTO_INCREMENT,descripcion VARCHAR(100),categoria VARCHAR(50),latitud FLOAT,longitud FLOAT,PRIMARY KEY(id_lugar))');
cursor.execute('CREATE TABLE desplazarse(id_rut INT NOT NULL,fecha DATE ,latitud FLOAT,longitud FLOAT,FOREIGN KEY fk_persona(id_rut) REFERENCES  persona(id_rut),PRIMARY KEY(id_rut,fecha))');

In [ ]:
#2)

INSERT INTO persona(id_rut,nombre,edad)VALUES (188706630,"Mathias",24);
INSERT INTO persona(id_rut,nombre,edad)VALUES (194634324,"Rodrigo",20);
INSERT INTO persona(id_rut,nombre,edad)VALUES (193424242,"Benja",20);
INSERT INTO persona(id_rut,nombre,edad)VALUES (191234804,"Paula",20);
INSERT INTO persona(id_rut,nombre,edad)VALUES (172492342,"Eduardo",20);

INSERT INTO lugar_de_interes(descripcion,categoria,latitud,longitud) 
VALUES("Mercado fluvial","turismo",-30.342,-76.40);

INSERT INTO lugar_de_interes(descripcion,categoria,latitud,longitud) 
VALUES("Casino","entretencion",-31.342,-70.55);

INSERT INTO lugar_de_interes(descripcion,categoria,latitud,longitud) 
VALUES("Plaza","turismo",-36.20,-76.4);

INSERT INTO lugar_de_interes(descripcion,categoria,latitud,longitud) 
VALUES("Teja","turismo",-37.81,-72.55);

INSERT INTO lugar_de_interes(descripcion,categoria,latitud,longitud) 
VALUES("U","turismo",-42.81,-71.40);

INSERT INTO desplazarse(id_RUT,fecha,latitud,longitud) 
VALUES(172492342,"2018-02-25 14:00:00",-30.342,-76.40);

INSERT INTO desplazarse(id_RUT,fecha,latitud,longitud) 
VALUES(188706630,"2018-03-26 09:00:00",-42.81,-71.40);

INSERT INTO desplazarse(id_RUT,fecha,latitud,longitud) 
VALUES(188706630,"2018-04-27 14:00:00",-36.20,-76.4);

INSERT INTO desplazarse(id_RUT,fecha,latitud,longitud) 
VALUES(193424242,"2018-12-25 13:00:00",-36.20,-76.4);

INSERT INTO desplazarse(id_RUT,fecha,latitud,longitud) 
VALUES(191234804,"2018-12-25 12:00:00",-42.81,-71.40);

In [ ]:
#3)
# Esta base de datos podrá servir, para una aplicación de turismo,
# donde los usuarios se registren, y puedan ver los lugares turísticos más cercanos.

## Ejercicio 2: Realizar una copia de seguridad de una BD y exportar datos

<a href="https://dev.mysql.com/doc/refman/8.0/en/backup-and-recovery.html"> Backup and Recovery in MySQL</a>

1) ¿Por qué hacer copias de seguridad de su base de datos?

2) Utilizar el comando <code>Mysqldump</code> para realizar una copia de su base de datos. ¿Cuál es el <i>output</i> de este comando?

3) En algunos casos, queremos simplemente exportar datos para poder utilizarlos en otros contextos. ¿En qué consiste el formato de datos CSV? ¿Cómo exportar datos al formato CSV desde MySQL? (ver: <a href="http://www.mysqltutorial.org/mysql-export-table-to-csv/">Tutorial</a>)

In [ ]:
#1) Es importante hacer copias de seguridad, ya que esta manera puedes recuperar tu información de la base datos,
#   en caso que surgan problemas, por ej , que el sistema se caiga, problemas de hardware, o haber borrado informacion
#   de la base de datos por error.

#2)  mysqldump
Usage: mysqldump [OPTIONS] database [tables]
OR     mysqldump [OPTIONS] --databases [OPTIONS] DB1 [DB2 DB3...]
OR     mysqldump [OPTIONS] --all-databases [OPTIONS]
For more options, use mysqldump --help

#3) 
# Csv es un formativo simple, para representar datos en forma de tabla en  que las columnas se separan por comas
#  y las filas por saltos de línea. 

SELECT * FROM persona INTO OUTFILE '/tmp/persona.csv'
FIELDS TERMINATED BY ',' ENCLOSED BY '"' LINES TERMINATED BY '\n';

## Ejercicio 3: Gestionar usuarios y privilegios de lectura y escritura

En la configuración por defecto de MySQL, existe un sólo usuario, llamado 'root', lo cual tiene todos los derechos. En término de seguridad es muy poco recomendable trabajar siempre con el usuario 'root' (en particular cuando se deja los passwords en el código o un archivo de parametros). 

1) ¿Cuáles son los tipos de privilegios en una base de datos relacional?

2) Crear un nuevo usuario y darle todos los privilegios sobre la base de datos 'Valdivia'

3) Crear un nuevo usuario, lo cual tendrá solamente acceso de lectura sobre la tabla Lugar_de_interes y Desplazarse

In [3]:

1)
Conectarse a Base datos
Realizar query a la base de datos
Crear, modificar y borrar tablas de la base de datos
Crear usuarios y darles permisos.

In [ ]:
#2)
CREATE USER 'user1'@'localhost' IDENTIFIED BY 'password';
GRANT ALL PRIVILEGES ON valdivia.* TO 'user1'@'localhost';
FLUSH PRIVILEGES;

In [ ]:

#3)
CREATE USER 'user2'@'localhost' IDENTIFIED BY 'password';
GRANT SELECT ON valdivia.lugar_de_interes TO 'user2'@'localhost';
GRANT SELECT ON valdivia.desplazarse TO 'user2'@'localhost';

## Ejercicio 4: Modificar la estructura de una Base de Datos

Supongamos que queremos modificar la estructura de la base de datos 'Valdivia'. 

1) Modificar la BD (sin borrarla) para agregar un campo 'nivel de estudio' en la tabla 'Persona'.

2) Modificar la BD (sin borrarla) para dejar la posibilidad de tener varias categorías para describir un lugar de interés (implica crear una tabla adicional)

3) Agregar una restricción para que las columnas "Latitud" y "Longitud" nuncan sean NULL

In [ ]:
#1)ALTER TABLE persona ADD COLUMN nivel_de_estudio VARCHAR(20);

In [ ]:
#2)

CREATE TABLE categoria(categoria_id INT NOT NULL AUTO_INCREMENT,nombre VARCHAR(50),PRIMARY KEY(categoria_id));
ALTER TABLE lugar_de_interes DROP COLUMN categoria;
ALTER TABLE lugar_de_interes ADD COLUMN categoria VARCHAR(20);
ALTER TABLE lugar_de_interes ADD FOREIGN KEY fk_categoria(categoria) REFERENCES categoria(pk_categoria);

In [ ]:
#3)

ALTER TABLE desplazarse MODIFY latitud FLOAT NOT NULL;
ALTER TABLE desplazarse MODIFY longitud FLOAT NOT NULL;

ALTER TABLE lugar_de_interes MODIFY latitud FLOAT NOT NULL;
ALTER TABLE lugar_de_interes MODIFY longitud FLOAT NOT NULL;

## Ejercicio 5 (opcional): Innovación para Valdivia - Smart City

1) Revisar el concurso "Desafio Smart City": https://www.innoving.cl/smartcity

2) Considerando que la empresa Telefonica del Sur podría darle acceso a ciertos datos telefónicos de la Ciudad, imaginar un escenario de innovación basado sobre una base de datos similar a aquella que creamos.